

*{
    color:black;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 1em;
text-align: left;
line-height: 1.5em;
list-style-type: none ;
}



.section {
    display:block;
    width:100% ;
    height:5vh
}
